.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 55px;
    backdrop-filter: blur(1.8px);
    background-color: rgba(255, 255, 255, 0.404);

}

.left-section{
    align-items: center;
    display: flex;
}

.hamburger-menu{
    height: 17px;
    margin-left: 23px;
    margin-right: 25px;
    width: 20px;
}

.youtube-logo{
    height: 20px;
}

.middle-section{
    flex: 1;
    margin-left: 65px;
    margin-right: 65px;
    max-width: 660px;
    display: flex;
    align-items: center;
}

.search-bar{
    flex: 1;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.801);
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border-style: solid;
    border-color: rgb(212, 212, 212);
    border-width: 1.3px;
    border-right-color: transparent;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1rem;
    width: 0;
}

.search-button{
    height: 17px;
}

.search-icon{
    margin-top: 0.25px;
    height: 39px;
    background-color: rgba(234, 234, 234, 0.756);
    width: 60px;
    border-radius: 0;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    border-style: solid;
    border-color: rgb(212, 212, 212);
    border-width: 1.3px;
}

.voice-search-button{
    height: 20px;
}

.voice-icon{
    height: 42px;
    background-color: rgba(236, 236, 236, 0.749);
    width: 42px;
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    margin-left: 16px;
}

.right-section{
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    min-width: 110px;
}

.current-user-picture{
    height: 32px;
    border-radius: 16px;
}

.notification-icon{
    height: 24px;
}

.upload-icon{
    height: 24px;
}

.sidebar{
    position: fixed;
    right: 1200px;
    left: 0;
    bottom: 0;
    top: 50px;

}

.sidebar-style{
    height: 50px;
    margin: 2px;
    display: flex;
    align-content: top;
    justify-content: center;
    padding-top: 23px;
}
.sidebar-style:hover{
    background-color: rgb(234, 234, 234);
}

.home{
    height: 23px;
}

.shorts{
    height: 23px;
}

.subscription{
    height: 23px;
}

.you{
    height: 23px;
}